
# Self
benchmark/**
!benchmark/.gitkeep
!benchmark/README.md
!benchmark/datasets.json
!benchmark/scenes/
!benchmark/scenes/*.json
*.pdf
ref/

# C++
*.o

# Python
__pycache__/
*.py[cod]

# CMake
build*/
CMakeUserPresets.json

# Agent Concerned
.vscode/
.lingma/
.agents/
